.container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
}

.backBtn {
    background: none;
    border: none;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0;
    transition: all 0.2s;
}

.backBtn:hover {
    transform: translateX(-5px);
}

.loading {
    text-align: center;
    font-size: 24px;
    color: #555;
    margin-top: 150px;
}


.content {
    display: flex;
    gap: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.poster {
    width: 320px;
    border-radius: 10px;
}


.info {
    display: flex;
    flex-direction: column;
}


.title {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 700;
    color: #2c2c2c;
}


.meta {
    margin-bottom: 30px;
    color: #555;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.overview {
    font-size: 17px;
    color: #444;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eaeaea;
}